<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>A_01_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.gauarav.opretion.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VolLog</display-name>
    <servlet-name>VolLog</servlet-name>
    <servlet-class>com.gauarav.opretion.VolLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolLog</servlet-name>
    <url-pattern>/VolLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CReg</display-name>
    <servlet-name>CReg</servlet-name>
    <servlet-class>com.gauarav.opretion.CReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CReg</servlet-name>
    <url-pattern>/CReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VReg</display-name>
    <servlet-name>VReg</servlet-name>
    <servlet-class>com.gauarav.opretion.VReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VReg</servlet-name>
    <url-pattern>/VReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clog</display-name>
    <servlet-name>Clog</servlet-name>
    <servlet-class>com.gauarav.opretion.Clog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clog</servlet-name>
    <url-pattern>/Clog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Suggest</display-name>
    <servlet-name>Suggest</servlet-name>
    <servlet-class>com.gauarav.opretion.Suggest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suggest</servlet-name>
    <url-pattern>/Suggest</url-pattern>
  </servlet-mapping>
</web-app>